body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
#content {
	padding: 3em;
}
table {
	border-collapse: collapse;
}

td, th {
	padding: 0.5em;
	border: 1px solid #CCC;
  font-size:9pt;
}

thead, tfoot {
	background-color: #DDD;
}

tr.rowodd {

}

tr.roweven {
	background-color: #F2F2F2;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #DDFFAC;
	background-image: url(/stylesheets/tablesort/up.gif);
}

div.tickets_home {
  background:url(/images/f_left.gif);
}

div.tickets_out, div.tickets_home {
  width:21px;
  height: 14px;
  overflow:hidden;
  background-repeat:no-repeat;
  background-position:100px 0;
  display:table-cell;
}

div.tickets_out {
  background-image:url(/images/f_right.gif);
}

div.N { background-position:-21px 0; }
div.R { background-position:-42px 0; }
div.Y { background-position:0 0; }  

.sortdesc {
	background-color: #B9DDFF;
	background-image: url(/stylesheets/tablesort/down.gif);
}
.nosort {
	cursor: default;
}

.urg1, .urg2, .urg3, .urg4, .urg5 {
	padding: 3px;
	text-align: center;
	border: 1px solid #333;
	width: 3em;
}

.urg1 {
	background-color: #FFFACD;
}
.urg2 {
	background-color: #FFD700;
}
.urg3 {
	background-color: Orange;
}
.urg4 {
	background-color: #FF6347;
}
.urg5 {
	background-color: Red;
}

.scroll-table-head {
    width: 800px;
}

.scroll-table-body {
    width: 800px;
    height: 400px;				
}
.scroll-table-body td {
	padding-right: 20px;
	overflow: hidden;
}

