<table>
<% @search.results.map do |key, ar_hotels| %>
  <%if key == 'teztour'%>
  <thead><tr><th colspan="10">TezTour hotels: <a href="<%= ar_hotels['url'] %>" target="_blank">[check]</a></th></tr></thead>
  <%else%>
  <thead><tr><th colspan="10">Pegas touristik hotels: <a href="<%= ar_hotels['url'] %>" target="_blank">[check]</a></th></tr></thead>
  <%end%>
  <% if ar_hotels['data'].to_a.any? %>
    <% ar_hotels['data'].to_a.each do |hotel| %>
      <% if hotel.any? %>
        <tr>
          <% hotel.each do |line| %>
          <td><%= line %></td>
          <% end %>
        </tr>
      <% end  %>
    <% end %>
  <% end %>
<% end  %>
</table>

