<html>
  <head>
    <title>Travel Agregator</title>
<%#= javascript_include_tag "prototype", "effects" %>
<%= javascript_include_tag :defaults, "fastinit","tablesort" %>
<%= calendar_date_select_includes "red"%> <%## or "blue", or "silver", or nil for the default! %>
  </head>
  <body>
    <%= @content_for_layout %>
  </body>
</html>
